/* General Styling */
*{
    box-sizing: border-box;
    font-weight: normal;
    font-size: large;
}
/* Style for output Screen */
input{
    width:270px ;
    height: 60px;
    margin: 6px;
    background-color: #f2fbec;
    box-shadow: 0px 3px 5px grey;
    border: none;
    padding: 15px;
}
/* Style for buttons */
button{
    width:60px ;
    height: 50px;
    margin: 3px;
    background: #efefee;
}
button::after{
    right: -20px;
    transition: .5s;
}
button:hover{
   
    height: 45px;
    width: 55px;
    right: 0;
}
button:active{
    box-shadow: 0px 3px 5px rgb(82, 81, 81);
   
}
/* Style for specific buttons */
.operator:hover{
    background-color: #ffe282;
}
.number:hover{
    background-color: #cfcfcf;
}
.C:hover{
    background-color: #d8828c;
}
.number{
    border: none;
    box-shadow: 0px 3px 3px grey;
}
.operator{
    background-color: #f1faa2;
    border: none;
    box-shadow: 0px 3px 5px grey;
}
.C{
    background-color: #e3a8b0;
    box-shadow: 0px 3px 5px grey;
    border: none;
}

/* Style for calculator background */
.cal-grid{ 
    border: 8px solid #acbc87;
    background-color: #accde3;
    padding: 23px;
    display: inline-block;
    margin: 50px;
    
}

